.meta {
  :global(.ant-card-meta-detail) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    & > :nth-child(n) {
      margin: 0;
      min-width: min-content;
    }
  }
}
